<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!--<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICustomerService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51490/Services/CustomerService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICustomerService"
                contract="CustomerServiceRef.ICustomerService" name="WSHttpBinding_ICustomerService">
                <identity>
                    <userPrincipalName value="HAL9000\Luk" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>-->
  <connectionStrings>
    <add name="CustomersAppConnectionString" connectionString="Data Source=HAL9000\SQLEXPRESS;Initial Catalog=CustomersApp;Integrated Security=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>